<div class="newpost">
<h1>Post A proposition here</h1>

<form action="http://itp.nyu.edu/~yw1080/sinatra/judge/save" method="POST">
  
  <p>
    <label for="nickname">NickName:</label>
    <input id="nickname" type="text" name="nickname"/>
  </p>
  
  <p>
    <label for="proposition">Type your proposition:</label>
    <input style="width:300px;" id="text" type="text" name="postbody"/>
  </p>
  
  <input type="submit" value="post" />
  
  
</form>
        
</div>