<div class="resultpage"><h3>Thank you for your judgement
<p>You <%= @voted %> with this: </p></h3>
<h1> <%= @post.body %> </h1>
<p><a href="http://itp.nyu.edu/~yw1080/sinatra/judge">back to homepage and start judge, seriously</a></p>
</div>

